<!doctype html>
<!--[if IE 8]>
	<html class="no-js ie ie8">
<![endif]-->
<!--[if IE 9]>
	<html class="no-js ie ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Omar Mirza | Front End Deverloper Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/detailsForm.css">	
	<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>

<body ng-app="myApp">

	<div class="container" ng-controller="mainCtrl" id="detailsForm">
		<div ng-hide="editMode == false">
			<h1>Update your details form</h1>

			<form role="form" name="detailsForm" method="post" ng-submit="detailsFormSubmit()">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email" required>
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" ng-model="name" class="form-control" id="name" placeholder="Enter your name" required>
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<select id="country" class="form-control" ng-model="detailsForm.country" ng-change="populateBuildings(detailsForm.country)" ng-options="data.country for data in data" required>
						<option value="">Please select a country</option>
					</select>
				</div>		
				<div class="form-group" ng-hide="hideBuildings == true">
					<label for="building">Building</label>
					<select id="building" class="form-control" ng-model="detailsForm.building" ng-change="getBuilding(detailsForm.building)" required>
						<option value="">Please select a building</option>
						<option value="{{building}}" ng-repeat="building in buildingsArray">{{building}}</option>
					</select>			
				</div>
				<div class="form-group">
					<label for="division">Division</label>
					<select id="division" class="form-control" ng-model="detailsForm.division" ng-change="populateDepartments(detailsForm.division)" ng-options="data.division for data in data" required>
						<option value="">Please select a division</option>
					</select>					
				</div>
				<div class="form-group" ng-hide="hideDepartments == true">
					<label for="department">Department</label>
					<select id="department" class="form-control" ng-model="detailsForm.department" ng-change="getDepartment(detailsForm.department)" required>
						<option value="">Please select a department</option>
						<option value="{{department}}" ng-repeat="department in departmentsArray">{{department}}</option>
					</select>			
				</div>		

				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

		<div ng-show="editMode == false">
			<h1>{{name}}, Thank you for updating your details</h1>
			<span>Your details have been saved on our database as</span>
			<ul>				
				<li><strong>email:</strong> {{email}}</li>
				<li><strong>name:</strong> {{name}}</li>
				<li><strong>country:</strong> {{country}}</li>
				<li><strong>building:</strong> {{building}}</li>
				<li><strong>division:</strong> {{division}}</li>
				<li><strong>department:</strong> {{department}}</li>
			</ul>

		</div>

	</div>
	
	<script src="js/angular.js"></script>
	<script src="js/mainCtrl.js"></script>

</body>
</html>